#body-color {
    background-color: gray;
}
#register{
    background-image: url("/images/blog.jpg");
    background-size: 500px 500px;
    background-position: center;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 450px;
    padding: 9px 35px;
}
#button
{
    background-image:url("/images/register.jpg");
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: aqua;
    font-weight: bold;
    font-size: 20px;
}
#form{
    width: 35%;
    border-radius: 10px;
    background-color: chartreuse;
}